<h1>Welcome, <%= current_user.email %></h1>

<div id="calendar"></div>

<script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultDate: '2018-03-12',
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectHelper: true,

      select: function(start, end) {
        var title = prompt('Event Title:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        }
        $('#calendar').fullCalendar('unselect');
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'Meeting',
          start: '2018-03-12T10:30:00',
          end: '2018-03-12T11:50:00'
        },
        {
          title: 'Lunch',
          start: '2018-03-12T12:00:00',
          end: '2018-03-12T13:00:00'
        },
        {
          title: 'Tennis',
          start: '2018-03-16T19:00:00',
          end: '2018-03-16T22:30:00'
        }
      ]
    });

  });

</script>
