<h1>Welcome, <%= current_user.email %></h1>

<div id="calendar"></div>

<%= javascript_tag "let userEvents = #{@events.to_json}" %>

<script>

  $(document).ready(function() {

    // Find today to set default date of fullcaldendar
    const today = moment().format().slice(0,10)

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultDate: today,
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectHelper: true,

      select: async function(start, end) {

        const {value: formValues} = await swal({
          title: 'New Event',
          html:
            '<span>Title: </span><input id="swal-input1" class="swal2-input">' +
            '<span>Description: </span><input id="swal-input2" class="swal2-input">' +
            '<span>Start time: </span><input id="swal-input3" type="time" class="swal2-input">' +
            '<span>End time: </span><input id="swal-input4" type="time" class="swal2-input">',
          focusConfirm: false,
          preConfirm: () => {
            return [
              document.getElementById('swal-input1').value,
              document.getElementById('swal-input2').value,
              document.getElementById('swal-input3').value,
              document.getElementById('swal-input4').value
            ]
          }
        })

        console.log(formValues);

        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        }
        $('#calendar').fullCalendar('unselect');
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: userEvents
    });

  });

</script>
