<h1>Welcome, <%= current_user.email %></h1>

<div id="calendar"></div>

<%= javascript_tag "let userEvents = #{@events.to_json}" %>

<script>

  $(document).ready(function() {

    // Find today to set default date of fullcaldendar
    const today = moment().format().slice(0,10)

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultDate: today,
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectHelper: true,

      select: function(start, end) {
        var title = prompt('Event Title:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        }
        $('#calendar').fullCalendar('unselect');
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: userEvents
    });

  });

</script>
